<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.warptweet.client</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/WarpTweet/bin/warptweet</string>
		<string>run</string>
		<string>--config</string>
		<string>/Library/Application Support/WarpTweet/state/client.wt</string>
		<string>--tunnel</string>
		<string>REPLACE_TUNNEL_ID</string>
		<string>--once</string>
	</array>
	<key>UserName</key>
	<string>_warptweet</string>
	<key>GroupName</key>
	<string>_warptweet</string>
	<key>RunAtLoad</key>
	<false/>
	<key>KeepAlive</key>
	<false/>
	<key>ThrottleInterval</key>
	<integer>5</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/WarpTweet/client.err.log</string>
	<key>StandardOutPath</key>
	<string>/Library/Logs/WarpTweet/client.out.log</string>
</dict>
</plist>
